   <section class="authors-list">
        <a href="/books/author?name=Munshi%20Premchandra">
            <img src="https://i.pinimg.com/564x/4a/19/a6/4a19a66ff287a01fb2b5266cf02c185c.jpg" alt="author1">
            <br/>&nbsp;&nbsp;Munshi Premchand
        </a>
        <a href="/books/author?name=J.%20K.%20Rowling">
            <img src="https://i.pinimg.com/564x/4a/e5/07/4ae50779a4185f5bd57a97becc6b9d37.jpg" alt="author1">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;J. K. Rolling
        </a>
        </div>
        <a href="/books/author?name=Arundhati%20Roy">
            <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/arundhatistory_647_100316054702.jpg"
                alt="author1">
                <br/>&nbsp;&nbsp;&nbsp;Arundhati Roy
        </a>
        <a href="/books/author?name=Chetan%20Bhagat">
            <img src="https://i.pinimg.com/564x/d4/79/a7/d479a728bce468626b1672da63284b86.jpg" alt="author1">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chetan Bhagat
        </a>
        <a href="/books/author?name=Heather%20Ann%20Thompson">
            <img src="https://images.squarespace-cdn.com/content/v1/5a2eb898dc2b4a7f556828ad/1513014561826-HV0621VJ0BZY9H0ZTHAD/ke17ZwdGBToddI8pDm48kFbPXFuZI4zXEVXmQFA4Q0JZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVGXQ276eHGuordQyDWLt5IpEUdZziXIsLhXuviBvpovvZxSzKqlTopgPqvX_cDbJlY/heather-ann-thompson.jpg?format=500w" alt="author1">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Heather Ann Thompson
        </a>
    </section>